# bank28.cfg — auto-created by ingest_sm_decomp.py

bank = 28

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 312 entries (0 suppressed by hand-declared func).
func Enemy_GrappleReact_NoInteract_A8 8000 end:800a
func Enemy_GrappleReact_KillEnemy_A8 800a end:800f
func Enemy_GrappleReact_CancelBeam_A8 800f end:8014
func Enemy_GrappleReact_SamusLatchesNoInvinc_A8 8014 end:801e
func Enemy_GrappleReact_HurtSamus_A8 801e end:8023
func Enemy_NormalTouchAI_A8 8023 end:802d
func Enemy_NormalShotAI_A8 802d end:8037
func Enemy_NormalPowerBombAI_A8 8037 end:8041
func Enemy_NormalFrozenAI_A8 8041 end:878f
func MiniDraygon_Instr_2 878f end:879b
func MiniDraygon_Instr_1 879b end:87b6
func MiniDraygon_Instr_3 87b6 end:87cb
func MiniDraygon_Instr_4 87cb end:87e0
func MiniDraygon_Init 87e0 end:8838
func MiniDraygon_Func_1 8838 end:8866
func MiniDraygon_Func_2 8866 end:88b0
func EvirProjectile_Init 88b0 end:88e5
func MiniDraygon_Func_3 88e5 end:891b
func MiniDraygon_Main 891b end:8922
func MiniDraygon_Func_4 8922 end:8933
func MiniDraygon_Func_5 8933 end:8997
func MiniDraygon_Func_6 8997 end:899e
func EvirProjectile_Main 899e end:89d4
func MiniDraygon_Func_7 89d4 end:8a34
func MiniDraygon_Func_8 8a34 end:8a3b
func MiniDraygon_Func_9 8a3b end:8a78
func MiniDraygon_Func_10 8a78 end:8ab1
func MiniDraygon_Func_11 8ab1 end:8ae8
func MiniDraygon_Func_12 8ae8 end:8b06
func MiniDraygon_Touch 8b06 end:8b0c
func MiniDraygon_Powerbomb 8b0c end:8b12
func MiniDraygon_Shot 8b12 end:8b16
func MiniDraygon_Func_13 8b16 end:9058
func MorphBallEye_Init 9058 end:90e2
func MorphBallEye_Main 90e2 end:90f1
func MorphBallEye_Func_1 90f1 end:912e
func MorphBallEye_Func_2 912e end:9160
func MorphBallEye_Func_3 9160 end:91ce
func MorphBallEye_Func_4 91ce end:9625
func Fune_Instr_2 9625 end:9631
func Fune_Instr_6 9631 end:964a
func Fune_Instr_7 964a end:9663
func Fune_Instr_1 9663 end:967c
func Fune_Instr_4 967c end:9695
func Fune_Instr_3 9695 end:96b4
func Fune_Instr_5 96b4 end:96e3
func Fune_Init 96e3 end:9730
func Fune_Main 9730 end:9737
func Fune_Func_1 9737 end:975c
func Fune_Func_2 975c end:9790
func Fune_Func_3 9790 end:979b
func Fune_Func_4 979b end:9aee
func WreckedShipGhost_Init 9aee end:9b3c
func WreckedShipGhost_Main 9b3c end:9b42
func WreckedShipGhost_Func_1 9b42 end:9bad
func WreckedShipGhost_Func_2 9bad end:9c31
func WreckedShipGhost_Func_3 9c31 end:9c69
func WreckedShipGhost_Func_4 9c69 end:9c8a
func WreckedShipGhost_Func_5 9c8a end:9d13
func WreckedShipGhost_Func_6 9d13 end:9d36
func WreckedShipGhost_Func_7 9d36 end:9e88
func WreckedShipGhost_Func_8 9e88 end:a0c7
func YappingMaw_Instr_2 a0c7 end:a0d9
func YappingMaw_Instr_4 a0d9 end:a0eb
func YappingMaw_Instr_5 a0eb end:a0fd
func YappingMaw_Instr_7 a0fd end:a10f
func YappingMaw_Instr_3 a10f end:a121
func YappingMaw_Instr_6 a121 end:a133
func YappingMaw_Instr_1 a133 end:a148
func YappingMaw_Init a148 end:a211
func YappingMaw_Main a211 end:a235
func YappingMaw_Func_1 a235 end:a28c
func YappingMaw_Func_2 a28c end:a310
func YappingMaw_Func_3 a310 end:a339
func YappingMaw_Func_4 a339 end:a37c
func YappingMaw_Func_5 a37c end:a3bf
func YappingMaw_Func_6 a3bf end:a402
func YappingMaw_Func_7 a402 end:a445
func YappingMaw_Func_8 a445 end:a63e
func YappingMaw_Func_9 a63e end:a665
func YappingMaw_Func_10 a665 end:a68a
func YappingMaw_Func_11 a68a end:a6c4
func YappingMaw_Func_12 a6c4 end:a6db
func YappingMaw_Func_13 a6db end:a6fc
func YappingMaw_Func_14 a6fc end:a71d
func YappingMaw_Func_15 a71d end:a73e
func YappingMaw_Func_16 a73e end:a742
func YappingMaw_Func_17 a742 end:a799
func YappingMaw_Touch a799 end:a7bd
func YappingMaw_Shot a7bd end:a835
func YappingMaw_Frozen a835 end:a85d
func YappingMaw_Func_18 a85d end:a899
func YappingMaw_Func_19 a899 end:ab46
func Kago_Init ab46 end:ab75
func Kago_Main ab75 end:ab7b
func Kago_Func_1 ab7b end:ab83
func Kago_Shot ab83 end:ae12
func NorfairLavaMan_Instr_1 ae12 end:ae26
func NorfairLavaMan_Instr_8 ae26 end:ae30
func NorfairLavaMan_Instr_14 ae30 end:ae3a
func NorfairLavaMan_Instr_2 ae3a end:ae45
func NorfairLavaMan_Instr_7 ae45 end:ae50
func NorfairLavaMan_Instr_10 ae50 end:ae5a
func NorfairLavaMan_Instr_12 ae5a end:ae64
func NorfairLavaMan_Instr_9 ae64 end:ae88
func NorfairLavaMan_Instr_11 ae88 end:ae96
func NorfairLavaMan_Instr_13 ae96 end:aeba
func NorfairLavaMan_Instr_5 aeba end:aeca
func NorfairLavaMan_Instr_15 aeca end:aee4
func NorfairLavaMan_Instr_4 aee4 end:aefe
func NorfairLavaMan_Instr_16 aefe end:af18
func NorfairLavaMan_Instr_6 af18 end:af32
func sub_A8AF32 af32 end:af44
func NorfairLavaMan_Instr_3 af44 end:af8b
func NorfairLavaMan_Init af8b end:af9d
func NorfairLavaMan_Func_1 af9d end:afe2
func NorfairLavaMan_Func_2 afe2 end:b020
func NorfairLavaMan_Func_3 b020 end:b05e
func NorfairLavaMan_Func_4 b05e end:b088
func NorfairLavaMan_Func_5 b088 end:b0b2
func NorfairLavaMan_Func_6 b0b2 end:b10a
func NorfairLavaMan_Main b10a end:b11a
func NorfairLavaMan_Func_7 b11a end:b175
func NorfairLavaMan_Func_8 b175 end:b193
func sub_A8B193 b193 end:b1b8
func NorfairLavaMan_Func_9 b1b8 end:b1dd
func NorfairLavaMan_Func_10 b1dd end:b204
func NorfairLavaMan_Func_11 b204 end:b230
func NorfairLavaMan_Func_12 b230 end:b291
func sub_A8B291 b291 end:b295
func NorfairLavaMan_Func_13 b295 end:b2c5
func NorfairLavaMan_Func_14 b2c5 end:b30d
func NorfairLavaMan_Func_15 b30d end:b31f
func NorfairLavaMan_Func_16 b31f end:b356
func NorfairLavaMan_Func_17 b356 end:b3a7
func NorfairLavaMan_Func_18 b3a7 end:b3cb
func NorfairLavaMan_Func_19 b3cb end:b3e5
func NorfairLavaMan_Func_20 b3e5 end:b400
func NorfairLavaMan_Powerbomb b400 end:b406
func NorfairLavaMan_Touch b406 end:b40c
func NorfairLavaMan_Shot b40c end:b410
func NorfairLavaMan_Common b410 end:b75e
func Beetom_Instr_1 b75e end:b762
func Beetom_Func_1 b762 end:b776
func Beetom_Init b776 end:b7ef
func Beetom_Func_2 b7ef end:b80d
func Beetom_Main b80d end:b814
func Beetom_Func_3 b814 end:b82f
func Beetom_Func_4 b82f end:b84f
func Beetom_Func_5 b84f end:b85f
func Beetom_Func_6 b85f end:b873
func Beetom_Func_7 b873 end:b887
func Beetom_Func_8 b887 end:b8a9
func Beetom_Func_9 b8a9 end:b8cb
func Beetom_Func_10 b8cb end:b8ed
func Beetom_Func_11 b8ed end:b90f
func Beetom_Func_12 b90f end:b952
func Beetom_Func_13 b952 end:b966
func Beetom_Func_14 b966 end:b97a
func Beetom_Func_15 b97a end:b9a2
func Beetom_Func_16 b9a2 end:b9b2
func Beetom_Func_17 b9b2 end:b9c1
func Beetom_Func_18 b9c1 end:ba24
func Beetom_Func_19 ba24 end:ba84
func Beetom_Func_20 ba84 end:bab7
func Beetom_Func_21 bab7 end:bae7
func Beetom_Func_22 bae7 end:bb20
func Beetom_Func_23 bb20 end:bb55
func Beetom_Func_24 bb55 end:bb88
func Beetom_Func_25 bb88 end:bbb8
func Beetom_Func_26 bbb8 end:bbf1
func Beetom_Func_27 bbf1 end:bc26
func Beetom_Func_28 bc26 end:bc5a
func Beetom_Func_29 bc5a end:bc8a
func Beetom_Func_30 bc8a end:bcc3
func Beetom_Func_31 bcc3 end:bcf8
func Beetom_Func_32 bcf8 end:bd42
func Beetom_Func_33 bd42 end:bd8c
func Beetom_Func_34 bd8c end:bd9d
func Beetom_Func_35 bd9d end:bdc5
func Beetom_Func_36 bdc5 end:bdcc
func Beetom_Func_37 bdcc end:be2e
func Beetom_Touch be2e end:beac
func Beetom_Shot beac end:c1c9
func MaridiaFloater_Init c1c9 end:c21c
func MaridiaFloater_Main c21c end:c223
func MaridiaFloater_Func_1 c223 end:c234
func MaridiaFloater_Func_2 c234 end:c283
func MaridiaFloater_Func_3 c283 end:c2a6
func MaridiaFloater_Func_4 c2a6 end:c2cf
func MaridiaFloater_Func_5 c2cf end:c36b
func MaridiaFloater_Func_6 c36b end:c3e1
func MaridiaFloater_Func_7 c3e1 end:c469
func MaridiaFloater_Func_8 c469 end:c4dc
func MaridiaFloater_Func_9 c4dc end:c500
func MaridiaFloater_Func_10 c500 end:c51d
func MaridiaFloater_Func_11 c51d end:c569
func MaridiaFloater_Func_12 c569 end:c59f
func MaridiaFloater_Func_13 c59f end:c5be
func MaridiaFloater_Touch c5be end:c5ef
func MaridiaFloater_Shot c5ef end:c63f
func MaridiaFloater_Powerbomb c63f end:cb77
func WreckedShipRobot_Init cb77 end:cbcc
func WreckedShipRobotDeactivated_Init cbcc end:cc36
func WreckedShipRobot_Main cc36 end:cc67
func WreckedShipRobot_Func_1 cc67 end:ccff
func WreckedShipRobot_Func_2 ccff end:cd09
func WreckedShipRobot_Instr_4 cd09 end:cda4
func WreckedShipRobot_Instr_9 cda4 end:cdea
func WreckedShipRobot_Instr_6 cdea end:ce85
func WreckedShipRobot_Instr_8 ce85 end:cecb
func WreckedShipRobot_Instr_7 cecb end:cecf
func WreckedShipRobot_Instr_15 cecf end:cf6a
func WreckedShipRobot_Instr_18 cf6a end:cfb0
func WreckedShipRobot_Instr_16 cfb0 end:d04b
func WreckedShipRobot_Instr_17 d04b end:d091
func WreckedShipRobot_Instr_3 d091 end:d0c2
func WreckedShipRobot_Instr_10 d0c2 end:d0c6
func WreckedShipRobot_Instr_14 d0c6 end:d0d2
func WreckedShipRobot_Instr_2 d0d2 end:d0dc
func WreckedShipRobot_CommonInstr d0dc end:d100
func WreckedShipRobot_Instr_13 d100 end:d107
func WreckedShipRobot_Instr_1 d107 end:d10c
func WreckedShipRobot_D10C d10c end:d131
func WreckedShipRobot_Instr_12 d131 end:d13d
func WreckedShipRobot_Instr_5 d13d end:d147
func WreckedShipRobot_D147 d147 end:d16b
func WreckedShipRobot_Instr_11 d16b end:d174
func WreckedShipRobotDeactivated_Touch d174 end:d18d
func WreckedShipRobotDeactivated_Shot d18d end:d192
func WreckedShipRobot_Shot d192 end:d8c9
func MaridiaPuffer_Init d8c9 end:d90b
func MaridiaPuffer_Main d90b end:d92b
func MaridiaPuffer_Func_1 d92b end:d940
func MaridiaPuffer_Func_2 d940 end:d963
func MaridiaPuffer_Func_3 d963 end:d97c
func MaridiaPuffer_Func_4 d97c end:d9aa
func MaridiaPuffer_Func_5 d9aa end:d9db
func MaridiaPuffer_Func_6 d9db end:da28
func MaridiaPuffer_Func_7 da28 end:da71
func MaridiaPuffer_Func_8 da71 end:da92
func MaridiaPuffer_Func_9 da92 end:db14
func MaridiaPuffer_Shot db14 end:dccd
func WalkingLavaSeahorse_Init dccd end:dd37
func WalkingLavaSeahorse_Func_1 dd37 end:dd55
func WalkingLavaSeahorse_Func_2 dd55 end:dd6b
func WalkingLavaSeahorse_Main dd6b end:dd71
func WalkingLavaSeahorse_Func_3 dd71 end:ddc6
func WalkingLavaSeahorse_Func_4 ddc6 end:ddde
func sub_A8DDDE ddde end:ddfa
func WalkingLavaSeahorse_Func_5 ddfa end:de05
func WalkingLavaSeahorse_Func_6 de05 end:de4b
func WalkingLavaSeahorse_Func_7 de4b end:decd
func WalkingLavaSeahorse_Func_8 decd end:deec
func WalkingLavaSeahorse_Func_9 deec end:df1c
func WalkingLavaSeahorse_Instr_4 df1c end:df20
func WalkingLavaSeahorse_DF20 df20 end:df33
func WalkingLavaSeahorse_Instr_3 df33 end:df39
func WalkingLavaSeahorse_Instr_5 df39 end:df3f
func WalkingLavaSeahorse_Instr_6 df3f end:df63
func WalkingLavaSeahorse_Instr_2 df63 end:df71
func WalkingLavaSeahorse_Instr_1 df71 end:df9d
func WalkingLavaSeahorse_Func_10 df9d end:e388
func WreckedShipOrbs_Init e388 end:e3c3
func WreckedShipOrbs_Main e3c3 end:e3d9
func WreckedShipOrbs_Func_1 e3d9 end:e3ef
func WreckedShipOrbs_Func_2 e3ef end:e405
func WreckedShipOrbs_Func_3 e405 end:e424
func WreckedShipOrbs_Func_4 e424 end:e443
func WreckedShipOrbs_Func_5 e443 end:e462
func WreckedShipOrbs_Func_6 e462 end:e61d
func WreckedShipSpark_Instr_2 e61d end:e62a
func WreckedShipSpark_Instr_1 e62a end:e637
func WreckedShipSpark_Init e637 end:e68e
func WreckedShipSpark_Main e68e end:e695
func WreckedShipSpark_Func_1 e695 end:e6b7
func WreckedShipSpark_Func_2 e6b7 end:e6dc
func WreckedShipSpark_Func_3 e6dc end:e6f6
func WreckedShipSpark_Func_4 e6f6 end:e70e
func WreckedShipSpark_Shot e70e end:e82e
func BlueBrinstarFaceBlock_Init e82e end:e86e
func BlueBrinstarFaceBlock_Func_1 e86e end:e8ae
func BlueBrinstarFaceBlock_Main e8ae end:e91d
func BlueBrinstarFaceBlock_Shot e91d end:f188
func KiHunter_Init f188 end:f214
func KiHunterWings_Init f214 end:f25c
func KiHunter_Main f25c end:f262
func KiHunterWings_Main f262 end:f268
func KiHunter_Func_1 f268 end:f3b8
func KiHunter_Func_2 f3b8 end:f4ed
func KiHunter_Func_3 f4ed end:f526
func KiHunter_Instr_1 f526 end:f55a
func KiHunter_Func_4 f55a end:f58b
func KiHunter_Func_5 f58b end:f5e4
func KiHunter_Instr_2 f5e4 end:f5f0
func KiHunter_Func_6 f5f0 end:f67f
func KiHunter_Instr_3 f67f end:f68b
func KiHunter_Func_7 f68b end:f6b3
func KiHunter_Func_8 f6b3 end:f6d2
func KiHunter_Instr_4 f6d2 end:f6d8
func KiHunter_Instr_5 f6d8 end:f6dc
func sub_A8F6DC f6dc end:f6f3
func KiHunter_Func_9 f6f3 end:f701
func KiHunter_Shot f701 end:f7cf
func KiHunter_Func_10 f7cf end:f7db
func KiHunter_Func_11 f7db end:f851
func KiHunter_Func_12 f851 end:f87f
func KiHunter_Func_13 f87f end:f8ad
func KiHunter_Func_14 f8ad end:f947
func KiHunter_Func_15 f947 end:f96a
func KiHunter_Func_16 f96a end:f98d
func KiHunter_Func_17 f98d end:10000
# <<< END AUTO-INGESTED <<<
