# bank26.cfg — auto-created by ingest_sm_decomp.py

bank = 26

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 338 entries (0 suppressed by hand-declared func).
func Enemy_GrappleReact_NoInteract_A6 8000 end:800f
func Enemy_GrappleReact_CancelBeam_A6 800f end:8023
func Enemy_NormalTouchAI_A6 8023 end:802d
func Enemy_NormalShotAI_A6 802d end:8041
func Enemy_NormalFrozenAI_A6 8041 end:86f5
func Boulder_Init 86f5 end:8793
func Boulder_Main 8793 end:879a
func Boulder_Func_1 879a end:87ed
func Boulder_Func_2 87ed end:8832
func Boulder_Func_3 8832 end:888b
func Boulder_Func_4 888b end:8942
func Boulder_Func_5 8942 end:89fc
func Boulder_Func_6 89fc end:8a00
func Boulder_Func_7 8a00 end:8a1d
func Boulder_Func_8 8a1d end:8a3a
func Boulder_Func_9 8a3a end:8b2f
func SpikeyPlatform_Init 8b2f end:8b85
func SpikeyPlatform2ndEnemy_Init 8b85 end:8b99
func SpikeyPlatform2ndEnemy_Main 8b99 end:8bad
func SpikeyPlatform_Main 8bad end:8bb4
func SpikeyPlatform_Func_1 8bb4 end:8bdc
func SpikeyPlatform_Func_2 8bdc end:8c4a
func SpikeyPlatform_Func_3 8c4a end:8c5d
func SpikeyPlatform_Func_4 8c5d end:8ca1
func SpikeyPlatform_Func_5 8ca1 end:8daf
func FireGeyser_Instr_1 8daf end:8e13
func FireGeyser_Instr_2 8e13 end:8e2d
func FireGeyser_Instr_3 8e2d end:8e41
func FireGeyser_Instr_4 8e41 end:8e55
func FireGeyser_Instr_5 8e55 end:8e69
func FireGeyser_Instr_6 8e69 end:8e7d
func FireGeyser_Instr_7 8e7d end:8e91
func FireGeyser_Instr_8 8e91 end:8ea5
func FireGeyser_Instr_9 8ea5 end:8eb9
func FireGeyser_Instr_10 8eb9 end:8ecd
func FireGeyser_Instr_11 8ecd end:8ee1
func FireGeyser_Instr_12 8ee1 end:8ef5
func FireGeyser_Instr_13 8ef5 end:8f09
func FireGeyser_Instr_14 8f09 end:8f1d
func FireGeyser_Instr_15 8f1d end:8f31
func FireGeyser_Instr_16 8f31 end:8f45
func FireGeyser_Instr_17 8f45 end:8f59
func FireGeyser_Instr_18 8f59 end:8f6d
func FireGeyser_Instr_19 8f6d end:8f81
func FireGeyser_Instr_20 8f81 end:8f95
func FireGeyser_Instr_21 8f95 end:8fa9
func FireGeyser_Instr_22 8fa9 end:8fbd
func FireGeyser_Instr_23 8fbd end:8fd1
func FireGeyser_Instr_24 8fd1 end:8ffc
func FireGeyser_Init 8ffc end:9023
func FireGeyser_Main 9023 end:902f
func FireGeyser_Func_1 902f end:9062
func FireGeyser_Func_2 9062 end:94c4
func NuclearWaffle_Init 94c4 end:960e
func NuclearWaffle_Main 960e end:9615
func NuclearWaffle_Func_1 9615 end:9682
func NuclearWaffle_Func_2 9682 end:9721
func NuclearWaffle_Func_3 9721 end:97e9
func NuclearWaffle_Func_4 97e9 end:98ad
func NuclearWaffle_Func_5 98ad end:98e7
func NuclearWaffle_Func_6 98e7 end:993f
func NuclearWaffle_Func_7 993f end:9a58
func FakeKraid_Init 9a58 end:9ac2
func FakeKraid_Main 9ac2 end:9adc
func FakeKraid_Func_1 9adc end:9b26
func FakeKraid_Instr_2 9b26 end:9b74
func FakeKraid_Instr_1 9b74 end:9bb2
func FakeKraid_Instr_3 9bb2 end:9bc4
func FakeKraid_Instr_4 9bc4 end:9bcb
func FakeKraid_InstrHelper_45 9bcb end:9c02
func FakeKraid_Instr_5 9c02 end:9c0b
func sub_A69C0B 9c0b end:9c22
func FakeKraid_Touch 9c22 end:9c39
func FakeKraid_Shot 9c39 end:9c50
func FakeKraid_9C50 9c50 end:a0f5
func CeresRidley_Init a0f5 end:a288
func CeresRidley_Main a288 end:a2bd
func CeresRidley_Func_1 a2bd end:a2d3
func CeresRidley_Hurt a2d3 end:a2dc
func Ridley_A2DC a2dc end:a2f2
func Ridley_A2F2 a2f2 end:a354
func CeresRidley_Func_2 a354 end:a35b
func CeresRidley_Func_3 a35b end:a377
func CeresRidley_A377 a377 end:a389
func CeresRidley_Func_4 a389 end:a3df
func CeresRidley_Func_5 a3df end:a455
func CeresRidley_Func_6 a455 end:a478
func CeresRidley_Func_7 a478 end:a4d6
func CeresRidley_Func_8 a4d6 end:a6af
func CeresRidley_Func_9 a6af end:a6c8
func CeresRidley_Func_10 a6c8 end:a6e8
func CeresRidley_Func_11 a6e8 end:a763
func CeresRidley_Func_12 a763 end:a782
func CeresRidley_Func_13 a782 end:a7f9
func CeresRidley_A7F9 a7f9 end:a83c
func CeresRidley_Func_14 a83c end:a84e
func CeresRidley_Func_15 a84e end:a88d
func CeresRidley_Func_16 a88d end:a8a4
func CeresRidley_Func_17 a8a4 end:a8d4
func CeresRidley_Func_18 a8d4 end:a8f8
func CeresRidley_Func_19 a8f8 end:a923
func CeresRidley_Func_20 a923 end:a947
func CeresRidley_Func_21 a947 end:a971
func CeresRidley_Func_22 a971 end:a994
func CeresRidley_A994 a994 end:a9a0
func CeresRidley_Func_23 a9a0 end:aa11
func CeresRidley_Func_24 aa11 end:aa20
func CeresRidley_Func_25 aa20 end:aa50
func CeresRidley_Func_26 aa50 end:aa54
func CeresRidley_Func_27 aa54 end:aaaf
func HandleCeresRidleyGetawayCutscene aaaf end:aabd
func CeresRidley_Func_28 aabd end:ab5f
func CeresRidley_Func_29 ab5f end:ac30
func CeresRidley_AC30 ac30 end:acbc
func CeresRidley_Func_33 acbc end:ad27
func CeresRidley_Func_34 ad27 end:b0ef
func CeresRidley_Func_35 b0ef end:b227
func Ridley_Main b227 end:b26f
func Ridley_Func_1 b26f end:b28a
func Ridley_Func_2 b28a end:b297
func Ridley_Hurt b297 end:b2f3
func Ridley_Func_3 b2f3 end:b321
func Ridley_Func_3b b321 end:b335
func Ridley_Func_4 b335 end:b3ec
func Ridley_Func_5 b3ec end:b3f8
func Ridley_Func_6 b3f8 end:b42e
func Ridley_Func_7 b42e end:b441
func Ridley_Func_8 b441 end:b455
func Ridley_B455 b455 end:b493
func Ridley_Func_9 b493 end:b4d1
func Ridley_Func_10 b4d1 end:b516
func Ridley_Func_11 b516 end:b554
func Ridley_Func_12 b554 end:b594
func Ridley_Func_13 b594 end:b5c4
func Ridley_Func_14 b5c4 end:b5e5
func Ridley_Func_15 b5e5 end:b613
func Ridley_Func_16 b613 end:b641
func Ridley_Func_17 b641 end:b68b
func Ridley_Func_18 b68b end:b6a7
func Ridley_Func_19 b6a7 end:b6dd
func Ridley_Func_20 b6dd end:b70e
func Ridley_Func_21 b70e end:b7b9
func Ridley_Func_22 b7b9 end:b7e7
func Ridley_Func_23 b7e7 end:b84d
func Ridley_Func_24 b84d end:b859
func Ridley_Func_25 b859 end:b865
func Ridley_Func_26 b865 end:b889
func Ridley_Func_27 b889 end:b8a9
func Ridley_Func_28 b8a9 end:b90f
func Ridley_Func_29 b90f end:b9e1
func Ridley_Func_30 b9e1 end:ba54
func Ridley_Func_31 ba54 end:ba85
func Ridley_Func_32 ba85 end:bab7
func Ridley_Func_33 bab7 end:bb8f
func Ridley_Func_33b bb8f end:bbc4
func Ridley_Func_34 bbc4 end:bbf1
func Ridley_Func_35 bbf1 end:bc2e
func Ridley_Func_36 bc2e end:bc68
func Ridley_Func_37 bc68 end:bc84
func Ridley_Func_38 bc84 end:bcb4
func Ridley_Func_39 bcb4 end:bd20
func Ridley_Func_41 bd20 end:bd2c
func Ridley_Func_42 bd2c end:bd4e
func Ridley_Func_43 bd4e end:bd9a
func Ridley_Func_44 bd9a end:bdbc
func Ridley_Func_45 bdbc end:bdf2
func Ridley_Func_46 bdf2 end:be03
func Ridley_Func_47 be03 end:be61
func Ridley_Func_48 be61 end:be93
func Ridley_Func_49 be93 end:be9c
func Ridley_Func_50 be9c end:beb3
func Ridley_Func_51 beb3 end:beca
func Ridley_Func_52 beca end:bedc
func Ridley_Func_53 bedc end:bf1a
func DrawBabyMetroid_0 bf1a end:bfc9
func BabyMetroid_Instr_2 bfc9 end:bfe1
func BabyMetroid_Instr_3 bfe1 end:bff2
func BabyMetroid_Instr_1 bff2 end:bff8
func BabyMetroid_Goto bff8 end:c04e
func Ridley_Func_54 c04e end:c062
func Ridley_Func_55 c062 end:c08e
func Ridley_C08E c08e end:c09f
func Ridley_C09F c09f end:c0bb
func Ridley_Func_56 c0bb end:c0f5
func Ridley_Func_57 c0f5 end:c104
func Ridley_C104 c104 end:c117
func Ridley_Func_58 c117 end:c136
func Ridley_Func_59 c136 end:c176
func Ridley_Func_60 c176 end:c19c
func Ridley_Func_61 c19c end:c23f
func SetupZebesEscapeTypewriter c23f end:c26e
func ProcessEscapeTimerTileTransfers c26e end:c2a7
func HandleTypewriterText_Ext c2a7 end:c383
func Ridley_Func_62 c383 end:c538
func Ridley_Func_63 c538 end:c53e
func Ridley_C53E c53e end:c551
func Ridley_C551 c551 end:c588
func Ridley_Func_64 c588 end:c5a8
func Ridley_Func_65 c5a8 end:c5c8
func Ridley_Func_66 c5c8 end:c5da
func Ridley_Func_67 c5da end:c601
func Ridley_Func_68 c601 end:c623
func Ridley_Func_69 c623 end:c696
func RidleysExplosion_Init c696 end:c8d4
func RidleysExplosion_Main c8d4 end:c913
func RidleysExplosion_Func_1 c913 end:c932
func RidleysExplosion_Func_2 c932 end:caf5
func Ridley_Func_70 caf5 end:cb33
func Ridley_Func_71 cb33 end:cb45
func Ridley_Func_72 cb45 end:cb4e
func Ridley_Func_73 cb4e end:cb60
func Ridley_Func_74 cb60 end:cb72
func Ridley_Func_75 cb72 end:cbc0
func Ridley_CBC0 cbc0 end:cbc7
func Ridley_CBC7 cbc7 end:cbce
func Ridley_CBCE cbce end:cbd5
func Ridley_CBD5 cbd5 end:cbdc
func Ridley_CBDC cbdc end:cbfe
func Ridley_Func_77 cbfe end:cc1e
func Ridley_Func_78 cc1e end:cc39
func Ridley_Func_79 cc39 end:cc7d
func Ridley_Func_80_DoubleRet cc7d end:ccbd
func Ridley_Func_81 ccbd end:cd24
func Ridley_Func_83 cd24 end:cdaa
func Ridley_Func_84 cdaa end:ce65
func Ridley_Func_85 ce65 end:ceba
func Ridley_Func_86 ceba end:cf5a
func Ridley_Func_87 cf5a end:d09f
func Ridley_Func_88 d09f end:d19d
func Ridley_Func_89 d19d end:d242
func Ridley_Func_90 d242 end:d2aa
func Ridley_Func_91 d2aa end:d2d6
func Ridley_Func_92 d2d6 end:d3b4
func Ridley_Func_93 d3b4 end:d3d4
func Ridley_Func_94 d3d4 end:d3d9
func Ridley_Func_95 d3d9 end:d3dc
func Ridley_Func_D3DC d3dc end:d3f9
func Ridley_Func_96 d3f9 end:d431
func Ridley_Func_97 d431 end:d453
func Ridley_Func_98 d453 end:d467
func Ridley_Func_99 d467 end:d474
func Ridley_Func_100 d474 end:d495
func Ridley_D495 d495 end:d4b5
func Ridley_Func_101 d4b5 end:d4da
func Ridley_Func_102 d4da end:d4f9
func Ridley_Func_103 d4f9 end:d523
func Ridley_Func_104_0 d523 end:d526
func Ridley_Func_104 d526 end:d5a9
func Ridley_Func_105 d5a9 end:d62f
func Ridley_Func_106 d62f end:d6a6
func Ridley_Func_107 d6a6 end:d800
func Ridley_Func_111 d800 end:d86b
func Ridley_Func_112 d86b end:d914
func Ridley_Func_113 d914 end:d955
func Ridley_Func_114 d955 end:d97d
func Ridley_Func_115 d97d end:d9a8
func Ridley_Func_116 d9a8 end:d9fd
func Ridley_Func_117 d9fd end:da0c
func Ridley_Func_118 da0c end:da8b
func Ridley_Func_119 da8b end:dad8
func Ridley_Func_120 dad8 end:db2a
func sub_A6DB2A db2a end:dbc2
func sub_A6DBC2 dbc2 end:dc13
func sub_A6DC13 dc13 end:de7a
func Ridley_Func_121 de7a end:dea6
func Ridley_Func_122 dea6 end:df08
func Ridley_Func_123 df08 end:df29
func Ridley_Func_124 df29 end:df59
func sub_A6DF59 df59 end:df60
func sub_A6DF60 df60 end:df66
func Ridley_Func_125 df66 end:df8a
func Ridley_Shot df8a end:dfb2
func Ridley_Powerbomb dfb2 end:dfb7
func Ridley_Func_126 dfb7 end:dfd9
func Ridley_Func_127 dfd9 end:e01b
func Ridley_Func_128 e01b end:e088
func Ridley_Func_129 e088 end:e4be
func Ridley_Instr_5 e4be end:e4ca
func Ridley_Instr_6 e4ca end:e4d2
func Ridley_Instr_10 e4d2 end:e4ee
func Ridley_Instr_4 e4ee end:e4f8
func Ridley_Instr_3 e4f8 end:e501
func Ridley_Instr_2 e501 end:e517
func Ridley_Instr_1 e517 end:e51f
func Ridley_Instr_14 e51f end:e71c
func Ridley_Instr_9 e71c end:e727
func Ridley_Instr_7 e727 end:e72f
func Ridley_Instr_8 e72f end:e828
func Ridley_Func_131 e828 end:e840
func Ridley_Func_132 e840 end:e84d
func Ridley_Instr_11 e84d end:e904
func Ridley_Instr_12 e904 end:e909
func Ridley_Instr_13 e909 end:e90c
func Ridley_E90C e90c end:e969
func Ridley_Instr_15 e969 end:e976
func Ridley_Instr_16 e976 end:efb1
func CeresSteam_Init efb1 end:f00d
func CeresSteam_Main f00d end:f019
func CeresSteam_Func_1 f019 end:f03f
func CeresSteam_Touch f03f end:f11d
func CeresSteam_Instr_1 f11d end:f127
func CeresSteam_Instr_2 f127 end:f135
func CeresSteam_Instr_3 f135 end:f63e
func CeresDoor_Instr_6 f63e end:f66a
func CeresDoor_Instr_4 f66a end:f678
func CeresDoor_Instr_8 f678 end:f67f
func CeresDoor_Func_6b f67f end:f68b
func CeresSteam_Instr_4 f68b end:f695
func CeresDoor_Instr_1 f695 end:f69f
func CeresDoor_Instr_3 f69f end:f6a6
func CeresSteam_Instr_5 f6a6 end:f6b0
func CeresDoor_Instr_5 f6b0 end:f6b3
func CeresDoor_Instr_2 f6b3 end:f6bd
func CeresDoor_Instr_7 f6bd end:f6c5
func CeresDoor_Init f6c5 end:f739
func CeresDoor_Func_1 f739 end:f765
func CeresDoor_Main f765 end:f76b
func CeresDoor_Func_2 f76b end:f770
func CeresDoor_Func_3 f770 end:f773
func CeresDoor_F773 f773 end:f7a5
func CeresDoor_Func_4 f7a5 end:f7bd
func CeresDoor_Func_5 f7bd end:f7dc
func CeresDoor_Func_6 f7dc end:f850
func CeresDoor_Func_7 f850 end:f8f1
func CeresDoor_Func_8 f8f1 end:fb72
func Zebetites_Init fb72 end:fc33
func Zebetites_Main fc33 end:fc41
func Zebetites_Func_1 fc41 end:fc5b
func Zebetites_Func_2 fc5b end:fc67
func Zebetites_Func_3 fc67 end:fcaa
func Zebetites_Func_6 fcaa end:fccb
func Zebetites_Func_7 fccb end:fcd9
func Zebetites_Func_8 fcd9 end:fcf1
func Zebetites_Func_9 fcf1 end:fd09
func Zebetites_Func_5 fd09 end:fd5e
func Zebetites_Func_4 fd5e end:fda7
func Zebetites_Touch fda7 end:fdac
func Zebetites_Shot fdac end:10000
# <<< END AUTO-INGESTED <<<
