# bank33.cfg — auto-created by ingest_sm_decomp.py

bank = 33

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 113 entries (0 suppressed by hand-declared func).
func Enemy_GrappleReact_NoInteract_B3 8000 end:800a
func Enemy_GrappleReact_KillEnemy_B3 800a end:800f
func Enemy_GrappleReact_CancelBeam_B3 800f end:8023
func Enemy_NormalTouchAI_B3 8023 end:8028
func Enemy_NormalTouchAI_SkipDeathAnim_B3 8028 end:802d
func Enemy_NormalShotAI_B3 802d end:8032
func Enemy_NormalShotAI_SkipSomeParts_B3 8032 end:803c
func Enemy_NormalPowerBombAI_SkipDeathAnim_B3 803c end:8041
func Enemy_NormalFrozenAI_B3 8041 end:806b
func Enemy_SetAiPreInstr_B3 806b end:8074
func Enemy_ClearAiPreInstr_B3 8074 end:86fb
func UnusedSpinningTurtleEye_Init 86fb end:870e
func UnusedSpinningTurtleEye_Main 870e end:883b
func BrinstarPipeBug_Init 883b end:887a
func BrinstarPipeBug_Main 887a end:8880
func BrinstarPipeBug_PreInstr_1 8880 end:8890
func BrinstarPipeBug_PreInstr_2 8890 end:88e3
func BrinstarPipeBug_PreInstr_3 88e3 end:891c
func BrinstarPipeBug_PreInstr_4 891c end:897e
func BrinstarPipeBug_PreInstr_5 897e end:898b
func BrinstarPipeBug_Func_1 898b end:8b61
func NorfairPipeBug_Init 8b61 end:8b9e
func NorfairPipeBug_Main 8b9e end:8ba8
func NorfairPipeBug_8BA8 8ba8 end:8bcd
func NorfairPipeBug_Func_1 8bcd end:8bff
func NorfairPipeBug_Func_2 8bff end:8c52
func NorfairPipeBug_Func_3 8c52 end:8ca6
func NorfairPipeBug_Func_4 8ca6 end:8cff
func NorfairPipeBug_Func_5 8cff end:8d0c
func NorfairPipeBug_Func_6 8d0c end:8d4e
func NorfairPipeBug_Func_7 8d4e end:8d90
func NorfairPipeBug_Func_8 8d90 end:8dd2
func NorfairPipeBug_Func_9 8dd2 end:8e14
func NorfairPipeBug_Func_10 8e14 end:8e35
func NorfairPipeBug_Func_11 8e35 end:8e56
func sub_B38E56 8e56 end:8e5a
func NorfairPipeBug_Func_12 8e5a end:8f4c
func BrinstarYellowPipeBug_Init 8f4c end:8fae
func BrinstarYellowPipeBug_Main 8fae end:8fb5
func BrinstarYellowPipeBug_Func_1 8fb5 end:8ff5
func BrinstarYellowPipeBug_Func_2 8ff5 end:9028
func BrinstarYellowPipeBug_Func_3 9028 end:90a1
func BrinstarYellowPipeBug_Func_4 90a1 end:90bd
func BrinstarYellowPipeBug_Func_5 90bd end:913a
func BrinstarYellowPipeBug_Func_6 913a end:915a
func BrinstarYellowPipeBug_Func_7 915a end:91d8
func BrinstarYellowPipeBug_Func_8 91d8 end:9256
func BrinstarYellowPipeBug_Func_9 9256 end:927a
func BrinstarYellowPipeBug_Func_10 927a end:94c7
func Botwoon_Instr_1 94c7 end:94d7
func Botwoon_Instr_2 94d7 end:94e7
func Botwoon_Instr_3 94e7 end:94f7
func Botwoon_Instr_4 94f7 end:9507
func Botwoon_Instr_5 9507 end:9517
func Botwoon_Instr_6 9517 end:9527
func Botwoon_Instr_7 9527 end:9537
func Botwoon_Instr_8 9537 end:9547
func Botwoon_Instr_9 9547 end:9557
func Botwoon_Instr_10 9557 end:9567
func Botwoon_Instr_SetSpitting 9567 end:9572
func Botwoon_Instr_QueueSpitSfx 9572 end:957b
func Botwoon_QueueExplosionSfx 957b end:9583
func Botwoon_Init 9583 end:9668
func Botwoon_Main 9668 end:967b
func Botwoon_Func_1 967b end:9696
func Botwoon_Func_2 9696 end:96c6
func Botwoon_Func_3 96c6 end:96f5
func Botwoon_Func_4 96f5 end:96ff
func Botwoon_Func_5 96ff end:982b
func Botwoon_HealthBasedPalHandling 982b end:9878
func Botwoon_Func_6 9878 end:989d
func Botwoon_Func_7 989d end:98ec
func Botwoon_Func_8 98ec end:9913
func Botwoon_Func_9 9913 end:9933
func Botwoon_Func_10 9933 end:995d
func Botwoon_Func_11 995d end:99a4
func Botwoon_Func_12 99a4 end:99e4
func Botwoon_Func_13 99e4 end:9a46
func Botwoon_Func_14 9a46 end:9a5e
func Botwoon_Func_15 9a5e end:9aca
func Botwoon_Func_16 9aca end:9add
func Botwoon_Func_17 9add end:9af9
func Botwoon_Func_18 9af9 end:9bb7
func Botwoon_Func_19 9bb7 end:9bf8
func Botwoon_Func_20 9bf8 end:9c48
func Botwoon_Func_21 9c48 end:9c7b
func Botwoon_Func_22 9c7b end:9c90
func Botwoon_Func_23 9c90 end:9d3c
func Botwoon_Func_24 9d3c end:9d4d
func Botwoon_Func_25 9d4d end:9dc0
func Botwoon_Func_26 9dc0 end:9e7d
func Botwoon_Func_27 9e7d end:9ee0
func Botwoon_Func_28 9ee0 end:9f34
func Botwoon_Func_29 9f34 end:9f7a
func Botwoon_Func_30 9f7a end:9f93
func Botwoon_Func_31 9f93 end:9fff
func Botwoon_Touch 9fff end:a016
func Botwoon_Shot a016 end:a041
func Botwoon_Powerbomb a041 end:e250
func Botwoon_Func_32 e250 end:e28c
func Botwoon_Func_33 e28c end:e545
func EscapeEtecoon_Instr_1 e545 end:e610
func EscapeEtecoon_Instr_2 e610 end:e655
func EscapeEtecoon_Main e655 end:e65c
func EscapeEtecoon_E65C e65c end:e670
func EscapeEtecoon_E670 e670 end:e680
func EscapeEtecoon_E680 e680 end:e6cb
func EscapeEtecoon_Init e6cb end:eaa8
func EscapeDachora_Instr_2 eaa8 end:eab8
func EscapeDachora_Instr_3 eab8 end:eac9
func EscapeDachora_Instr_1 eac9 end:ead7
func EscapeDachora_Instr_4 ead7 end:eae5
func EscapeDachora_Init eae5 end:10000
# <<< END AUTO-INGESTED <<<
