# bank11.cfg — auto-created by ingest_sm_decomp.py

bank = 11

# Demo setup/pre-instruction handlers are entered from gameplay with 16-bit A/X.
entry_mx_at 8a33 0 0
entry_mx_at 8a3e 0 0
entry_mx_at 8a43 0 0
entry_mx_at 8a49 0 0
entry_mx_at 8a4e 0 0
entry_mx_at 8a53 0 0
entry_mx_at 8a56 0 0
entry_mx_at 8a68 0 0
entry_mx_at 8a81 0 0
entry_mx_at 8a9b 0 0

indirect_dispatch 880d 8 ptrcall targets:8A33,8A3E,8A43,8A49,8A4E,8A53,8A68,8A81

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 229 entries (0 suppressed by hand-declared func).
func Samus_InputHandler 8000 end:804d
func Samus_Input_00_Standing 804d end:8066
func Samus_Input_01_Running 8066 end:806e
func Samus_Input_02_NormalJumping 806e end:8076
func Samus_Input_03_SpinJumping 8076 end:807e
func Samus_Input_04_MorphBallOnGround 807e end:8086
func Samus_Input_07_Unused 8086 end:8087
func Samus_Input_05_Crouching 8087 end:80b6
func Samus_Input_06_Falling 80b6 end:810a
func Samus_Input_08_MorphBallFalling 810a end:8112
func Samus_Input_09_Unused 8112 end:8113
func Samus_Input_0A_KnockbackOrCrystalFlashEnding 8113 end:812d
func Samus_Input_0B_Unused 812d end:8132
func Samus_Input_0C_Unused 8132 end:813a
func Samus_Input_0D_Unused 813a end:8142
func Samus_Input_0E_TurningAroundOnGround 8142 end:8146
func Samus_Input_0F_CrouchingEtcTransition 8146 end:8147
func Samus_Input_10_Moonwalking 8147 end:814f
func Samus_Input_11_SpringBallOnGround 814f end:8157
func Samus_Input_12_SpringBallInAir 8157 end:815f
func Samus_Input_13_SpringBallFalling 815f end:8167
func Samus_Input_14_WallJumping 8167 end:816f
func Samus_Input_15_RanIntoWall 816f end:8181
func Samus_Input_16_Grappling 8181 end:8189
func Samus_Input_17_TurningAroundJumping 8189 end:818d
func Samus_Input_18_TurningAroundFalling 818d end:8191
func Samus_Input_19_DamageBoost 8191 end:8199
func Samus_Input_1A_GrabbedByDraygon 8199 end:81a1
func Samus_Input_1B_ShinesparkEtc 81a1 end:81a9
func Samus_LookupTransitionTable 81a9 end:81f4
func TranslateCustomControllerBindingsToDefault 81f4 end:82d9
func Samus_Pose_CancelGrapple 82d9 end:834e
func EnableDemoInput 834e end:835f
func DisableDemoInput 835f end:8370
func ResetDemoData 8370 end:8395
func LoadDemoInputObject 8395 end:83c0
func DemoObjectInputHandler 83c0 end:83f2
func ProcessDemoInputObject 83f2 end:8427
func DemoInstr_Finish 8427 end:8434
func DemoInstr_SetPreInstr 8434 end:843f
func DemoInstr_ClearPreInstr 843f end:8448
func DemoInstr_Goto 8448 end:844f
func DemoInstr_DecTimerAndGoto 844f end:8459
func DemoInstr_SetTimer 8459 end:85fc
func DemoInstr_Func2 85fc end:864f
func DemoPreInstr_864F 864f end:866a
func DemoPreInstr_866A 866a end:8682
func DemoInstr_Disable 8682 end:86fe
func UNUSED_DemoInstr_Func4 86fe end:8739
func DemoInstr_Func3 8739 end:8a33
func DemoSetFunc_0 8a33 end:8a3e
func DemoSetFunc_3 8a3e end:8a43
func DemoSetFunc_7 8a43 end:8a49
func DemoSetFunc_2 8a49 end:8a4e
func DemoSetFunc_4 8a4e end:8a53
func DemoSetFunc_1 8a53 end:8a56
func DemoSetFunc_Common 8a56 end:8a68
func DemoSetFunc_5 8a68 end:8a81
func DemoSetFunc_6 8a81 end:8a9b
func DemoPreInstr_CheckLeaveDemo 8a9b end:8ab0
func DemoPreInstr_8AB0 8ab0 end:bec2
func XrayHdmaFunc_BeamAimedR bec2 end:bf72
func XrayHdmaFunc_BeamAimedL bf72 end:c505
func XrayHdmaFunc_BeamHoriz c505 end:c5ff
func XrayHdmaOnScreen_BeamAimedR c5ff end:c660
func XrayHdmaOnScreen_BeamAimedL c660 end:c6c1
func XrayHdmaOnScreen_BeamAimedU c6c1 end:c822
func XrayHdmaOnScreen_BeamAimedD c822 end:c998
func XrayHdmaOnScreen_BeamHoriz c998 end:cad6
func XrayRunHandler cad6 end:caf9
func Xray_SetupStage1_FreezeTimeBackup caf9 end:cb1c
func Xray_SetupStage2_ReadBg1_2ndScreen cb1c end:cb57
func Xray_SetupStage3_ReadBg1_1stScreen cb57 end:cb8e
func Xray_SetupStage4 cb8e end:ccf1
func Xray_SetupStage4_Func1 ccf1 end:cd42
func Xray_SetupStage4_Func2 cd42 end:cdbe
func Xray_SetupStage4_Func3 cdbe end:cdd6
func Xray_GetXrayedBlock cdd6 end:cf36
func Xray_Func7 cf36 end:cf3e
func Xray_Func8 cf3e end:cf4e
func Xray_Func9 cf4e end:cf62
func Xray_Func10 cf62 end:cf6f
func Xray_Func11 cf6f end:cfbf
func Xray_Func12 cfbf end:cfc1
func Xray_Func13 cfc1 end:cfee
func Xray_Func14 cfee end:d01d
func Xray_Func15 d01d end:d04c
func LoadBlockToXrayTilemap d04c end:d0a6
func Xray_Func16 d0a6 end:d0d3
func Xray_SetupStage5 d0d3 end:d143
func CanXrayShowBlocks d143 end:d173
func Xray_SetupStage6 d173 end:d1a0
func Xray_SetupStage7 d1a0 end:d27f
func HdmaobjPreInstr_XraySetup d27f end:d2bc
func Xray_SetupStage8_SetBackdropColor d2bc end:d4da
func GameState_28_Unused_ d4da end:d4e4
func VariaSuitPickup d4e4 end:d5ba
func GravitySuitPickup d5ba end:d692
func InitializeSuitPickupHdma d692 end:d743
func HandleBeamChargePalettes d743 end:d83f
func HandleVisorPalette d83f end:d8a5
func HandleMiscSamusPalette d8a5 end:d9b2
func Samus_HandleScrewAttackSpeedBoostingPals d9b2 end:dac7
func Samus_SpeedBoosterShinePals dac7 end:db3a
func Samus_HandleShinesparkingPals db3a end:db93
func Samus_HandleCrystalFlashPals db93 end:dc34
func Samus_Copy10PalColors dc34 end:dc82
func Samus_Copy6PalColors dc82 end:dcb4
func Samus_HandleXrayPals dcb4 end:dd31
func nullsub_164 dd31 end:dd5b
func CopyToSamusSuitPalette dd5b end:ddd7
func CopyToSamusSuitTargetPalette ddd7 end:de53
func Samus_CancelSpeedBoost de53 end:deba
func Samus_LoadSuitPalette deba end:dee6
func Samus_LoadSuitTargetPalette dee6 end:df12
func Samus_RestoreHealth df12 end:df51
func Samus_DealDamage df51 end:df80
func Samus_RestoreMissiles df80 end:dfd3
func Samus_RestoreSuperMissiles dfd3 end:dff0
func Samus_RestorePowerBombs dff0 end:e00d
func Samus_Initialize e00d end:e16d
func Xray_Initialize e16d end:e2ad
func ResponsibleForXrayStandupGlitch e2ad end:e3f6
func MakeSamusFaceForward e3f6 end:e4f8
func SomeMotherBrainScripts_0 e4f8 end:e571
func SomeMotherBrainScripts_1 e571 end:e59b
func SomeMotherBrainScripts_2 e59b end:e5f0
func SomeMotherBrainScripts_3_EnableHyperBeam e5f0 end:e60c
func SomeMotherBrainScripts_4 e60c end:e719
func Samus_UpdatePreviousPose_0 e719 end:e733
func SamusFunc_E633_0 e733 end:e776
func SamusFunc_E633_3 e776 end:e83a
func SamusFunc_E633_4 e83a end:e867
func SamusFunc_E633_17 e867 end:e894
func SamusFunc_E633_20 e894 end:e8d8
func Samus_HandleTransFromBlockColl_3 e8d8 end:e8e5
func Samus_HandleTransFromBlockColl_4 e8e5 end:e931
func Samus_HandleTransFromBlockColl_1 e931 end:e95d
func Samus_HandleTransFromBlockColl_1_0 e95d end:ea07
func Samus_HandleTransFromBlockColl_1_1 ea07 end:ea48
func Samus_HandleTransFromBlockColl_1_2 ea48 end:ea63
func Samus_HandleTransFromBlockColl_1_3 ea63 end:eab6
func Samus_HandleTransFromBlockColl_1_5 eab6 end:eabe
func Samus_HandleTransFromBlockColl_5 eabe end:eade
func Samus_CheckWalkedIntoSomething eade end:ec50
func Samus_HandleTransitionsA_1 ec50 end:ec85
func Samus_HandleTransitionsA_6 ec85 end:ec8e
func Samus_HandleTransitionsA_8 ec8e end:ecd0
func Samus_HandleTransitionsA_2 ecd0 end:eda2
func Samus_HandleTransitionsB_1_10 eda2 end:eda4
func Samus_HandleTransitionsB_1_11 eda4 end:eda6
func Samus_HandleTransitionsB_1_6 eda6 end:edb0
func Samus_HandleTransitionsB_1_0 edb0 end:ee27
func Samus_HandleTransitionsB_1_4 ee27 end:ee48
func Samus_HandleTransitionsB_1_7 ee48 end:ee69
func Samus_HandleTransitionsB_2 ee69 end:ee80
func Samus_HandleTransitionsB_3 ee80 end:eea1
func Samus_HandleTransitionsB_4 eea1 end:eea6
func Samus_HandleTransitionsB_5 eea6 end:ef3b
func Samus_HandleTransitionsB_8 ef3b end:ef4f
func Samus_HandleTransitionsB_9 ef4f end:ef53
func Samus_HandleTransitionsB_9B ef53 end:efbc
func Samus_HandleTransitionsB_10 efbc end:efde
func nullsub_23 efde end:efdf
func Samus_HandleTransitionsA_5_4 efdf end:efef
func Samus_HandleTransitionsA_5_2 efef end:f046
func HandleLandingSoundEffectsAndGfx f046 end:f0be
func HandleLandingGraphics_Ceres f0be end:f116
func HandleLandingGraphics_Maridia f116 end:f166
func HandleLandingGraphics_Norfair f166 end:f1b2
func HandleLandingGraphics_Brinstar f1b2 end:f1ba
func HandleLandingGraphics_Tourian f1ba end:f1d3
func SamusFunc_F1D3 f1d3 end:f1ec
func Samus_HandleTransitionsA_5_1_0 f1ec end:f1fc
func Samus_MorphBallBounceNoSpringballTrans f1fc end:f253
func Samus_HandleTransitionsA_5_1_2 f253 end:f25e
func Samus_MorphBallBounceSpringballTrans f25e end:f2ce
func Samus_HandleTransitionsA_5_1_5 f2ce end:f2d3
func Samus_HandleTransitionsA_5_5 f2d3 end:f2f0
func Samus_HandleTransitionsA_5_6 f2f0 end:f31d
func Samus_HandleTransitionsC_1 f31d end:f34e
func Samus_HandleTransitionsC_2 f34e end:f36e
func Samus_HandleTransitionsC_3 f36e end:f37c
func Samus_HandleTransitionsC_4 f37c end:f397
func Samus_HandleTransitionsC_5 f397 end:f3a5
func Samus_HandleTransitionsC_6 f3a5 end:f3aa
func Samus_HandleTransitionsC_7 f3aa end:f3fd
func Samus_HandleTransitionsC_8 f3fd end:f404
func SamusFunc_F404 f404 end:f433
func SamusFunc_F433 f433 end:f4da
func SamusFunc_F468_Unused f4da end:f4dc
func SamusFunc_F468_Standing f4dc end:f50c
func SamusFunc_F468_Running f50c end:f543
func SamusFunc_F468_NormalJump f543 end:f5eb
func SamusFunc_F468_Crouching f5eb end:f60d
func SamusFunc_F468_Falling f60d end:f624
func SamusFunc_F468_SpinJump f624 end:f7b0
func Samus_CrouchTrans f7b0 end:f7cc
func Samus_StandOrUnmorphTrans f7cc end:f7ce
func Samus_MorphTrans f7ce end:f7f4
func MaybeUnused_sub_91F7F4 f7f4 end:f840
func MaybeUnused_sub_91F840 f840 end:f88c
func SamusFunc_F468_Moonwalking f88c end:f8ae
func SamusFunc_F468_DamageBoost f8ae end:f8b0
func MaybeUnused_sub_91F8B0 f8b0 end:f8cb
func SamusFunc_F468_DamageBoost_ f8cb end:f8d3
func SamusFunc_F468_TurningAroundOnGround f8d3 end:f952
func SamusFunc_F468_TurnAroundJumping f952 end:f98a
func SamusFunc_F468_TurnAroundFalling f98a end:f9f4
func SamusFunc_F468_MorphBall f9f4 end:fa0f
func SamusFunc_FA0A fa0f end:fa56
func SamusFunc_F468_Springball fa56 end:fa76
func SamusFunc_F468_WallJumping fa76 end:fb08
func Samus_SetAnimationFrameIfPoseChanged fb08 end:fb8e
func SamusFunc_EC80 fb8e end:fc08
func HandleJumpTransition_WallJump fc08 end:fc18
func HandleJumpTransition_SpringBallInAir fc18 end:fc42
func UNUSED_sub_91FC42 fc42 end:fc66
func HandleJumpTransition_NormalJump fc66 end:fc99
func HandleJumpTransition_SpinJump fc99 end:fcaf
func Samus_Func20 fcaf end:fe9a
func HandleCollDueToChangedPose_Solid_NoColl fe9a end:fe9c
func HandleCollDueToChangedPose_Solid_CollBoth fe9c end:fe9e
func HandleCollDueToChangedPose_Solid_CollAbove fe9e end:fedf
func HandleCollDueToChangedPose_Solid_CollBelow fedf end:ff20
func HandleCollDueToChangedPose_Block_CollAbove ff20 end:ff49
func HandleCollDueToChangedPose_Block_CollBelow ff49 end:ff76
func HandleCollDueToChangedPose_Block_NoColl ff76 end:ffa7
func HandleCollDueToChangedPose_Block_CollBoth ffa7 end:10000
# <<< END AUTO-INGESTED <<<
