# bank10.cfg — auto-created by ingest_sm_decomp.py

bank = 10

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 385 entries (0 suppressed by hand-declared func).
func Samus_Animate 8000 end:8078
func Samus_Animate_NoFx 8078 end:80b8
func Samus_Animate_WaterFx 80b8 end:80e6
func Samus_SpawnWaterSplash 80e6 end:813e
func Samus_SpawnAirBubbles 813e end:81c0
func Samus_Animate_LavaFx 81c0 end:8219
func Samus_Animate_AcidFx 8219 end:824c
func Samus_Animate_SubmergedLavaAcid 824c end:8344
func Samus_AnimDelayFunc_0to5 8344 end:8346
func Samus_AnimDelayFunc_6_GotoStartIfLittleHealth 8346 end:8360
func Samus_AnimDelayFunc_7 8360 end:8370
func Samus_AnimDelayFunc_8_AutoJumpHack 8370 end:839a
func Samus_AnimDelayFunc_9_TransToPose 839a end:83f6
func UNUSED_Samus_AnimDelayFunc_10 83f6 end:841d
func Samus_AnimDelayFunc_11_SelectDelaySequenceWalljump 841d end:848b
func Samus_AnimDelayFunc_12_TransToPose 848b end:84b6
func Samus_AnimDelayFunc_13_TransToPose 84b6 end:84c7
func Samus_AnimDelayFunc_14_Goto 84c7 end:84db
func Samus_AnimDelayFunc_15_GotoStart 84db end:852c
func Samus_HandleSpeedBoosterAnimDelay 852c end:8686
func SamusBottomDrawn_1 8686 end:8688
func SamusBottomDrawn_4 8688 end:868d
func SamusBottomDrawn_0_Standing 868d end:86c6
func SamusBottomDrawn_3_SpinJump 86c6 end:86ee
func SamusBottomDrawn_A_Knockback 86ee end:870c
func SamusBottomDrawn_F_Transitions 870c end:874c
func UNUSED_SamusBottomDrawn_D 874c end:8768
func SamusBottomDrawn_14_WallJump 8768 end:877c
func SamusBottomDrawn_19_DamageBoost 877c end:8790
func SamusBottomDrawn_1B 8790 end:87bd
func Samus_DrawEchoes 87bd end:8855
func Samus_DrawEcho 8855 end:88ba
func Samus_DrawShinesparkCrashEchoes 88ba end:8953
func Samus_DrawShinesparkCrashEchoProjectiles 8953 end:8976
func Samus_DrawStartingDeathAnim 8976 end:8998
func Samus_DrawDuringDeathAnim 8998 end:8a00
func Samus_DrawWhenNotAnimatingOrDying 8a00 end:8ac5
func AtmosphericTypeFunc_1_FootstepSplash 8ac5 end:8b16
func AtmosphericTypeFunc_3_DivingSplash 8b16 end:8b2e
func AtmosphericTypeFunc_4_LavaSurfaceDmg 8b2e end:8b57
func AtmosphericTypeFunc_67_Dust 8b57 end:8b64
func AtmosphericTypeFunc_5_Bubbles 8b64 end:8b74
func AtmosphericTypeFunc_Common 8b74 end:8c94
func Samus_CalcSpritemapPos_Default 8c94 end:8cc3
func Samus_CalcSpritemapPos_Standing 8cc3 end:8d3c
func Samus_CalcSpritemapPos_Crouch 8d3c end:8d98
func Samus_CalcSpritemapPos_Special 8d98 end:8e64
func Samus_HandleMovement_X 8e64 end:8ea9
func Samus_MoveX 8ea9 end:8fb3
func Samus_JumpingMovement 8fb3 end:9040
func Samus_SpinJumpMovement 9040 end:90c4
func Samus_CheckStartFalling 90c4 end:90e2
func Samus_MoveY_WithSpeedCalc 90e2 end:9168
func Samus_FallingMovement 9168 end:919f
func Samus_MorphedFallingMovement 919f end:91d1
func Samus_MorphedBouncingMovement 91d1 end:923f
func Samus_Move_NoSpeedCalc_Y 923f end:9288
func Samus_MoveExtraY 9288 end:92b8
func Samus_CheckAndMoveY 92b8 end:92c7
func Samus_MoveY_Simple_ 92c7 end:9348
func Samus_Move_NoBaseSpeed_X 9348 end:9350
func Samus_MoveLeft 9350 end:93b1
func Samus_MoveRight 93b1 end:93ec
func Samus_MoveUp 93ec end:9440
func Samus_MoveDown 9440 end:946e
func Samus_MoveHandler_ReleaseFromGrapple 946e end:94cb
func Samus_HandleMovement_DrainedCrouching 94cb end:94ec
func MainScrollingRoutine 94ec end:9589
func Samus_ScrollFinishedHook_SporeSpawnFight 9589 end:95a0
func Samus_HandleScroll_X 95a0 end:964f
func Samus_HandleScroll_Y 964f end:96c0
func Samus_CalcDistanceMoved_X 96c0 end:96ff
func Samus_CalcDistanceMoved_Y 96ff end:973e
func Samus_HandleExtraRunspeedX 973e end:9826
func Samus_MoveRight_NoColl 9826 end:9842
func Samus_MoveLeft_NoColl 9842 end:9871
func Samus_MoveDown_NoColl 9871 end:988d
func Samus_MoveUp_NoColl 988d end:98bc
func Samus_InitJump 98bc end:9949
func Samus_InitWallJump 9949 end:99d6
func Samus_SetSpeedForKnockback_Y 99d6 end:9a2c
func Samus_InitBombJump 9a2c end:9a7e
func Samus_CalcBaseSpeed_X 9a7e end:9b1f
func Samus_CalcBaseSpeed_NoDecel_X 9b1f end:9bd1
func Samus_DetermineSpeedTableEntryPtr_X 9bd1 end:9c21
func Samus_DetermineGrappleSwingSpeed_X 9c21 end:9c5b
func Samus_DetermineAccel_Y 9c5b end:9cac
func Samus_GrappleWallJumpCheck 9cac end:9d35
func Samus_WallJumpCheck 9d35 end:a32d
func Samus_Movement_07_Unused a32d end:a383
func Samus_Movement_00_Standing a383 end:a3e5
func Samus_Movement_01_Running a3e5 end:a42e
func Samus_Movement_02_NormalJumping a42e end:a436
func Samus_Movement_03_SpinJumping a436 end:a521
func Samus_Movement_04_MorphBallOnGround a521 end:a573
func Samus_Movement_05_Crouching a573 end:a58d
func Samus_Movement_06_Falling a58d end:a5ca
func Samus_Movement_08_MorphBallFalling a5ca end:a5fb
func Samus_Movement_09_Unused a5fb end:a5fc
func Samus_Movement_0A_KnockbackOrCrystalFlashEnding a5fc end:a607
func Samus_Movement_0B_Unused a607 end:a60f
func Samus_Movement_0C_Unused a60f end:a617
func Samus_Movement_0D_Unused a617 end:a672
func SamusCrouchingEtcFunc a672 end:a67c
func Samus_Movement_0E_TurningAroundOnGround a67c end:a694
func Samus_Movement_10_Moonwalking a694 end:a69f
func Samus_Movement_11_SpringBallOnGround a69f end:a6f1
func Samus_Movement_12_SpringBallInAir a6f1 end:a703
func Samus_Movement_13_SpringBallFalling a703 end:a734
func Samus_Movement_14_WallJumping a734 end:a75f
func Samus_Movement_15_RanIntoWall a75f end:a780
func Samus_Movement_16_Grappling a780 end:a790
func Samus_Movement_17_TurningAroundJumping a790 end:a7ad
func Samus_Movement_18_TurningAroundFalling a7ad end:a7ca
func Samus_Movement_19_DamageBoost a7ca end:a7d2
func Samus_Movement_1A_GrabbedByDraygon a7d2 end:a7da
func Samus_Movement_1B_ShinesparkEtc a7da end:a7e2
func DisableMinimapAndMarkBossRoomAsExplored a7e2 end:a8a6
func MarkMapTileAsExplored a8a6 end:a8ef
func InitializeMiniMapBroken a8ef end:a91b
func UpdateMinimap a91b end:ac1c
func Samus_HandleCooldown ac1c end:ac39
func Samus_CanFireBeam ac39 end:ac5a
func Samus_CanFireSuperMissile ac5a end:ac8d
func UpdateBeamTilesAndPalette ac8d end:acc2
func WriteBeamPalette_A acc2 end:accd
func WriteBeamPalette_Y accd end:acfc
func LoadProjectilePalette acfc end:ad22
func ResetProjectileData ad22 end:adb7
func ClearProjectile adb7 end:ae4e
func KillProjectileFunc_0 ae4e end:ae59
func KillProjectileFunc_1 ae59 end:ae6e
func KillProjectileFunc_2 ae6e end:ae79
func KillProjectileFunc_3 ae79 end:ae8e
func KillProjectileFunc_4 ae8e end:ae99
func KillProjectileFunc_6 ae99 end:aeae
func KillProjectileFunc_7 aeae end:aeb9
func KillProjectileFunc_8 aeb9 end:aece
func HandleProjectile aece end:af4a
func ProjPreInstr_Dir0459 af4a end:af52
func ProjPreInstr_Dir1368 af52 end:af60
func ProjPreInstr_Dir27 af60 end:afc7
func ProjPreInstr_Missile_Func0459 afc7 end:afcf
func ProjPreInstr_Missile_Func1368 afcf end:afdd
func ProjPreInstr_Missile_Func27 afdd end:b047
func ProjPreInstr_SuperMissile_Func0459 b047 end:b052
func ProjPreInstr_SuperMissile_Func1368 b052 end:b06a
func ProjPreInstr_SuperMissile_Func27 b06a end:b075
func ProjPreInstr_Func1 b075 end:b099
func ProjPreInstr_Bomb b099 end:b0ae
func ProjPreInstr_PowerBomb b0ae end:b0c3
func ProjPreInstr_WavePlasmaEtc b0c3 end:b0e4
func ProjPreInstr_BeamOrIceWave b0e4 end:b13b
func ProjPreInstr_WavePlasmaEtc_0459 b13b end:b143
func ProjPreInstr_WavePlasmaEtc_1368 b143 end:b151
func ProjPreInstr_WavePlasmaEtc_27 b151 end:b159
func ProjPreInstr_HyperBeam b159 end:b16a
func DeleteProjectileIfFarOffScreen b16a end:b1dd
func InitializeProjectileSpeedOfType b1dd end:b1f3
func InitializeProjectileSpeed b1f3 end:b2f6
func Missile_Func1 b2f6 end:b366
func SuperMissileBlockCollDetect_Y b366 end:b406
func SuperMissileBlockCollDetect_X b406 end:b4a6
func Projectile_Func4 b4a6 end:b525
func ProjInstr_MoveLeftProjectileTrailDown b525 end:b587
func ProjInstr_MoveRightProjectileTrailDown b587 end:b5b3
func ProjInstr_MoveLeftProjectileTrailUp b5b3 end:b657
func SpawnProjectileTrail b657 end:b6a9
func HandleProjectileTrails b6a9 end:b80d
func HudSelectionHandler_NothingOrPowerBombs b80d end:ba56
func InitProjectilePositionDirection ba56 end:bafc
func HandleChargingBeamGfxAudio bafc end:bbe1
func DrawFlareAnimationComponent bbe1 end:bcbe
func ClearFlareAnimationState bcbe end:bcd1
func FireHyperBeam bcd1 end:bd86
func CheckBeamCollByDir_0459 bd86 end:bd8e
func CheckBeamCollByDir_1368 bd8e end:bd9c
func CheckBeamCollByDir_2 bd9c end:bda4
func CheckBeamCollByDir_7 bda4 end:bdd4
func WaveBeam_CheckColl_0459 bdd4 end:bddc
func WaveBeam_CheckColl_1368 bddc end:bdea
func WaveBeam_CheckColl_2 bdea end:bdf2
func WaveBeam_CheckColl_7 bdf2 end:be00
func ProjectileReflection be00 end:be62
func HudSelectionHandler_MissilesOrSuperMissiles be62 end:bf46
func Missile_Func2 bf46 end:bf9d
func HudSelectionHandler_MorphBall bf9d end:c0ab
func HudSelectionHandler_MorphBall_Helper c0ab end:c0e7
func HudSelectionHandler_MorphBall_Helper2 c0e7 end:c128
func Bomb_Func2 c128 end:c157
func PowerBomb_Func3 c157 end:c545
func SwitchToHudHandler_Nothing c545 end:c551
func SwitchToHudHandler_Missiles c551 end:c564
func SwitchToHudHandler_SuperMissiles c564 end:c577
func SwitchToHudHandler_PowerBombs c577 end:c58a
func SwitchToHudHandler_Grapple c58a end:c5ae
func SwitchToHudHandler_Xray c5ae end:c5c4
func HandleArmCannonOpenState c5c4 end:c5eb
func UpdateArmCannonIsOpenFlag c5eb end:c627
func AdvanceArmCannonFrame c627 end:c663
func Samus_ArmCannon_Draw c663 end:cc39
func Projectile_SinLookup cc39 end:cc8a
func Projectile_SinLookup_Inner cc8a end:cd18
func FireSba_ClearCarry cd18 end:cd1a
func FireSba_FireWave cd1a end:cd9b
func FireSba_FireIce cd9b end:ce14
func FireSba_FireSpazer ce14 end:ce98
func FireSba_FirePlasma ce98 end:cf09
func ProjPreInstr_IceSba cf09 end:cf7a
func ProjPreInstr_IceSba2 cf7a end:cffa
func Projectile_Func7_Shinespark cffa end:d068
func Samus_MoveHandlerShinesparkWindup d068 end:d0ab
func Samus_MoveHandlerVerticalShinespark d0ab end:d0d7
func Samus_MoveHandler_Shinespark_Diag d0d7 end:d106
func Samus_MoveHandler_Shinespark_Horiz d106 end:d132
func Samus_ShinesparkMove_X d132 end:d1ff
func Samus_ShinesparkMove_Y d1ff end:d2ba
func Samus_EndSuperJump d2ba end:d383
func Samus_MoveHandler_ShinesparkCrash_0 d383 end:d396
func Samus_MoveHandler_ShinesparkCrash_1 d396 end:d3cc
func Samus_MoveHandler_ShinesparkCrash_2 d3cc end:d3f3
func Samus_MoveHandler_ShinesparkCrashEchoCircle d3f3 end:d40d
func Samus_MoveHandler_ShinesparkCrashFinish d40d end:d4d2
func ProjPreInstr_SpeedEcho d4d2 end:d525
func Grapple_Func1 d525 end:d5a2
func Hdmaobj_CrystalFlash d5a2 end:d678
func SamusMoveHandler_CrystalFlashStart d678 end:d6e3
func SamusMoveHandler_CrystalFlashMain_0 d6e3 end:d706
func SamusMoveHandler_CrystalFlashMain_1 d706 end:d729
func SamusMoveHandler_CrystalFlashMain_2 d729 end:d75b
func kSamusMoveHandler_CrystalFlashFinish d75b end:d793
func ProjPreInstr_PlasmaSba d793 end:d7e1
func ProjPreInstr_PlasmaSbaFunc_0 d7e1 end:d7fa
func ProjPreInstr_PlasmaSbaFunc_1 d7fa end:d813
func ProjPreInstr_PlasmaSbaFunc_2 d813 end:d849
func BombSpread d849 end:d8f7
func ProjPreInstr_SpreadBomb d8f7 end:da08
func ProjPreInstr_WaveSba da08 end:db57
func ProjPreInstr_SpazerSba_FuncA_0 db57 end:db66
func ProjPreInstr_SpazerSba_FuncA_1 db66 end:db75
func ProjPreInstr_SpazerSba_FuncA_2 db75 end:db84
func ProjPreInstr_SpazerSba_FuncA_3 db84 end:db93
func ProjPreInstr_SpazerSba_FuncB_0 db93 end:dbcf
func ProjPreInstr_SpazerSba_FuncB_1 dbcf end:dc30
func ProjPreInstr_SpazerSba_FuncB_2 dc30 end:dc67
func FireEndOfSpazerSba dc67 end:dc9c
func ProjPreInstr_EndOfSpazerSba dc9c end:dd3d
func HudSelectionHandler_Normal dd3d end:dd6f
func HudSelectionHandler_Grappling dd6f end:dd74
func HudSelectionHandler_TurningAround dd74 end:dd8c
func HudSelectionHandler_CrouchEtcTrans dd8c end:ddb6
func HudSelectionHandler_JumpEtc ddb6 end:ddc8
func HudSelectionHandler_Xray ddc8 end:ddd8
func HudSelectionHandler_GrabbedByDraygon ddd8 end:deba
func Samus_HitInterrupt_Shinespark deba end:dedd
func Samus_HitInterrupt_KnockbackGrapple dedd end:dee2
func Samus_HitInterrupt_Turning dee2 end:deea
func Samus_HitInterrupt_Falling deea end:defa
func Samus_HitInterrupt_Stand defa end:df15
func Samus_HitInterrupt_Ball df15 end:df1d
func Samus_HitInterrupt_Unused df1d end:df50
func Samus_MoveHandler_Knockback_0 df50 end:df53
func Samus_MoveHandler_Knockback_Up df53 end:df5d
func Samus_MoveHandler_Knockback_3 df5d end:df64
func Samus_MoveHandler_Knockback_Down df64 end:df6e
func Samus_ClearMoveVars df6e end:dfed
func SetupBombJump_StandCrouch dfed end:dff7
func SetupBombJump_1 dff7 end:e012
func SetupBombJump_4 e012 end:e01a
func SetupBombJump_2 e01a end:e020
func SetupBombJump_1A e020 end:e025
func Samus_MoveHandler_BombJumpStart e025 end:e04c
func Samus_HorizontalBombJump e04c end:e066
func Samus_VerticalBombJump e066 end:e07d
func Samus_MoveHandler_BombJumpFunc1 e07d end:e097
func RunFrameHandlerGamma e097 end:e09b
func Samus_Func1 e09b end:e0c5
func Samus_Func2 e0c5 end:e0e6
func Samus_Func3 e0e6 end:e114
func DrawTimer_ e114 end:e119
func Samus_SetPushedOutOfCeresRidley e119 end:e12e
func Samus_PushOutOfRidleysWay e12e end:e1c8
func Samus_Func4 e1c8 end:e1fd
func Samus_Func5 e1fd end:e21c
func Samus_Func6 e21c end:e23b
func Samus_SetGrabbedByDraygonPose e23b end:e2a1
func Samus_GrabbedByDraygonFrameHandler e2a1 end:e2d4
func Samus_ReleaseFromDraygon_ e2d4 end:e2de
func Samus_ReleaseFromDraygon e2de end:e3a3
func Samus_Func7 e3a3 end:e400
func Samus_Func8 e400 end:e41b
func Samus_Func9 e41b end:e464
func Samus_CalcDisplacementMoveLeft e464 end:e4ad
func Samus_CalcDisplacementMoveRight e4ad end:e4e6
func Samus_CalcSpeed_X e4e6 end:e5ce
func Samus_ClearXSpeedIfColl e5ce end:e606
func Samus_MoveUp_SetPoseCalcInput e606 end:e692
func HandleControllerInputForGamePhysics e692 end:e695
func Samus_FrameHandlerAlfa_Func11 e695 end:e6c9
func Samus_FrameHandlerAlfa_Func12 e6c9 end:e713
func Samus_FrameHandlerAlfa_Func13 e713 end:e722
func HandleSamusMovementAndPause e722 end:e725
func Samus_FrameHandlerBeta_Func17 e725 end:e786
func HandleDemoRecorder_1 e786 end:e7d2
func HandleDemoRecorder_3 e7d2 end:e7f5
func Samus_FrameHandlerBeta_Func14 e7f5 end:e833
func Samus_Func15 e833 end:e86a
func Samus_Func16 e86a end:e8aa
func Samus_Func18 e8aa end:e8dc
func SetContactDamageIndexAndUpdateMinimap e8dc end:e8ec
func Samus_Func19 e8ec end:e902
func Samus_LowHealthCheck e902 end:e90f
func Samus_CallInputHandler e90f end:e913
func Samus_InputHandler_E913 e913 end:e918
func Samus_Func20_ e918 end:e91d
func Samus_InputHandler_E91D e91d end:e926
func HandleAutoJumpHack e926 end:e94b
func RunSamusMovementHandler e94b end:e94f
func SamusMovementType_Xray e94f end:e9ce
func Samus_HandlePeriodicDamage e9ce end:ea45
func Samus_PauseCheck ea45 end:ea7f
func Samus_LowHealthCheck_ ea7f end:eaab
func Samus_LowHealthCheck_0 eaab end:eab3
func Samus_JumpCheck eab3 end:eb02
func Samus_Func10 eb02 end:eb35
func DrawSamusAndProjectiles eb35 end:eb4b
func SamusDrawSprites eb4b end:eb52
func SamusDrawHandler_Default eb52 end:eb55
func sub_90EB55 eb55 end:eb86
func sub_90EB86 eb86 end:ebf3
func Samus_DrawHandler_EndOfShinespark ebf3 end:ec03
func Samus_DrawManyEchoes ec03 end:ec14
func SamusDisplayHandler_UsingElevator ec14 end:ec1d
func SamusDisplayHandler_SamusReceivedFatal ec1d end:ec22
func Samus_SetRadius ec22 end:ec7e
func Samus_AlignBottomWithPrevPose ec7e end:ecb6
func Samus_UpdateSuitPaletteIndex ecb6 end:ecd5
func MoveSamusWithControlPad ecd5 end:ed6c
func UNUSEDsub_90ED6C ed6c end:edec
func Samus_FootstepGraphics_Maridia edec end:ee64
func Samus_FootstepGraphics_1 ee64 end:eee7
func Samus_UpdateSpeedEchoPos eee7 end:ef22
func Samus_PostGrappleCollisionDetect ef22 end:efd3
func ProjPreInstr_UnknownProj8027 efd3 end:f04b
func Samus_Func25_ShineSpark f04b end:f072
func Samus_MoveHandler_F072 f072 end:f0ee
func Samus_UpdatePreviousPose f0ee end:f107
func ClearCarry f107 end:f109
func SamusCode_00_LockSamus f109 end:f117
func SamusCode_01_UnlockSamus f117 end:f125
func SamusCode_02_ReachCeresElevator f125 end:f152
func SamusCode_03 f152 end:f19b
func SamusCode_04 f19b end:f19e
func SamusCode_04_06_Common f19e end:f1aa
func SamusCode_06_LockToStation f1aa end:f1c8
func SamusCode_07_SetupForElevator f1c8 end:f1e9
func SamusCode_08_SetupForCeresStart f1e9 end:f23c
func SamusCode_08_SetupForZebesStart f23c end:f28d
func SamusCode_0A_ClearDrawHandler f28d end:f295
func SamusCode_0B_DrawHandlerDefault f295 end:f29e
func SamusCode_0C_UnlockFromMapStation f29e end:f2b8
func SamusCode_0D_IsGrappleActive f2b8 end:f2ca
func SamusCode_0E f2ca end:f2d8
func SamusCode_0F_EnableTimerHandling f2d8 end:f2e0
func SamusCode_10 f2e0 end:f2f8
func SamusCode_11_SetupForDeath f2f8 end:f2fc
func SamusCode_11_15_Common f2fc end:f310
func SamusCode_15_CalledBySuitAcquision f310 end:f320
func SamusCode_12_SetSuperPaletteFlag1 f320 end:f328
func SamusCode_12_SetSuperPaletteFlag0 f328 end:f331
func SamusCode_14 f331 end:f38e
func SamusCode_05_SetupDrained f38e end:f394
func Samus_SetupForBeingDrained f394 end:f3c0
func SamusCode_18 f3c0 end:f3c9
func SamusCode_16 f3c9 end:f3dd
func SamusCode_17_DisableRainbowSamusAndStandUp f3dd end:f3fb
func SamusCode_17_FreezeDrainedSamus f3fb end:f409
func SamusCode_1A f409 end:f411
func SamusCode_1B_CheckedLockSamus f411 end:f41e
func SamusCode_1C f41e end:f471
func SamusCode_1D_ClearSoundInDoor f471 end:f4a2
func SamusCode_1E f4a2 end:f4d0
func SamusCode_1F f4d0 end:f507
func Samus_Func26 f507 end:f576
func Samus_ShootCheck f576 end:10000
# <<< END AUTO-INGESTED <<<
