# bank2a.cfg — auto-created by ingest_sm_decomp.py

bank = 2a

# >>> AUTO-INGESTED FROM sm DECOMP — do not hand-edit between markers >>>
# Source: snesrev/sm decomp PC comments.
# Regenerate via: python tools/ingest_sm_decomp.py
# 141 entries (0 suppressed by hand-declared func).
func Enemy_GrappleReact_CancelBeam_AA 800f end:8041
func Enemy_NormalFrozenAI_AA 8041 end:806b
func Enemy_SetAiPreInstr_AA 806b end:8074
func Enemy_ClearAiPreInstr_AA 8074 end:b09c
func Torizo_Instr_3 b09c end:b11d
func Torizo_Instr_31 b11d end:b1be
func Torizo_Instr_33 b1be end:b224
func Torizo_Instr_36 b224 end:b22e
func Torizo_Instr_37 b22e end:b238
func Torizo_Instr_35 b238 end:b24d
func Torizo_Instr_38 b24d end:b271
func Torizo_Instr_6 b271 end:b94d
func Torizo_Instr_5 b94d end:b951
func Torizo_Instr_9 b951 end:c20a
func Torizo_C20A c20a end:c22d
func Torizo_C22D c22d end:c250
func Torizo_C250 c250 end:c268
func Torizo_C268 c268 end:c280
func Torizo_C280 c280 end:c298
func Torizo_C298 c298 end:c2b0
func Torizo_C2B0 c2b0 end:c2c8
func Torizo_Instr_7 c2c8 end:c2c9
func Torizo_Instr_2 c2c9 end:c2d1
func Torizo_Instr_8 c2d1 end:c2d9
func Torizo_Instr_25 c2d9 end:c2ed
func Torizo_Instr_22 c2ed end:c2f7
func Torizo_Instr_19 c2f7 end:c2fd
func Torizo_Instr_32 c2fd end:c303
func Torizo_Instr_30 c303 end:c32f
func Torizo_Instr_34 c32f end:c34a
func Torizo_Instr_24 c34a end:c35b
func Torizo_Instr_12 c35b end:c36d
func Torizo_Instr_10 c36d end:c377
func Torizo_Instr_11 c377 end:c38a
func Torizo_Instr_29 c38a end:c3a0
func Torizo_Instr_1 c3a0 end:c3b6
func Torizo_Instr_28 c3b6 end:c3cc
func Torizo_Instr_4 c3cc end:c41e
func Torizo_Instr_40 c41e end:c470
func Torizo_Instr_16 c470 end:c4e5
func Torizo_Instr_27 c4e5 end:c55a
func Torizo_Instr_23 c55a end:c567
func Torizo_Instr_14 c567 end:c58b
func Torizo_Instr_15 c58b end:c5a4
func Torizo_Instr_26 c5a4 end:c5cb
func Torizo_Instr_18 c5cb end:c5e3
func Torizo_Instr_20 c5e3 end:c5f2
func Torizo_Instr_44 c5f2 end:c601
func Torizo_Instr_21 c601 end:c610
func Torizo_Instr_17 c610 end:c618
func Torizo_Instr_13 c618 end:c620
func Torizo_C620 c620 end:c643
func Torizo_C643 c643 end:c67e
func Torizo_Hurt c67e end:c6a4
func Torizo_Main c6a4 end:c6ac
func Torizo_Func_2 c6ac end:c6bf
func Torizo_Func_3 c6bf end:c6c6
func Torizo_Func_4 c6c6 end:c6ff
func Torizo_Func_1 c6ff end:c752
func Torizo_Func_5 c752 end:c828
func Torizo_Func_6 c828 end:c82c
func Torizo_Func_7 c82c end:c87f
func Torizo_Init c87f end:c977
func GoldTorizo_Touch c977 end:c97c
func Torizo_Shot c97c end:c9c2
func Torizo_Func_8 c9c2 end:cace
func Torizo_Instr_39 cace end:cade
func Torizo_Instr_41 cade end:cae2
func Torizo_Instr_42 cae2 end:cdd7
func Torizo_Instr_48 cdd7 end:d0e9
func Torizo_Instr_57 d0e9 end:d0f3
func Torizo_Instr_58 d0f3 end:d17b
func Torizo_Instr_59 d17b end:d187
func Torizo_Instr_62 d187 end:d1e7
func Torizo_Instr_63 d1e7 end:d369
func GoldTorizo_Main d369 end:d38f
func Torizo_Instr_56 d38f end:d397
func Torizo_Instr_60 d397 end:d39f
func Torizo_Instr_46 d39f end:d3a7
func Torizo_Func_12 d3a7 end:d3b2
func Torizo_Func_11 d3b2 end:d3ba
func GoldTorizo_Hurt d3ba end:d3e0
func Torizo_Instr_47 d3e0 end:d3ea
func Torizo_Instr_49 d3ea end:d436
func Torizo_Instr_61 d436 end:d445
func Torizo_Instr_53 d445 end:d474
func Torizo_Instr_55 d474 end:d49b
func Torizo_Instr_52 d49b end:d4ba
func Torizo_Instr_50 d4ba end:d4f3
func Torizo_Instr_43 d4f3 end:d4fd
func Torizo_Instr_51 d4fd end:d526
func Torizo_Instr_45 d526 end:d54d
func Torizo_Instr_54 d54d end:d5c2
func Torizo_Func_9 d5c2 end:d5df
func Torizo_Func_10 d5df end:d5e6
func Torizo_D5E6 d5e6 end:d5ed
func Torizo_D5ED d5ed end:d5f1
func Torizo_D5F1 d5f1 end:d658
func Torizo_D658 d658 end:d667
func GoldTorizo_Shot d667 end:d6a6
func Torizo_D6A6 d6a6 end:d6d1
func Torizo_D6D1 d6d1 end:d6f7
func Torizo_D6F7 d6f7 end:d7c8
func TourianEntranceStatue_Init d7c8 end:d931
func Shaktool_Instr_2 d931 end:d93f
func Shaktool_Instr_3 d93f end:d94a
func Shaktool_Instr_4 d94a end:d953
func Shaktool_Instr_5 d953 end:d956
func Shaktool_D956 d956 end:d99f
func Shaktool_Instr_6 d99f end:d9a0
func Shaktool_Func_2 d9a0 end:d9ba
func Shaktool_Instr_1 d9ba end:dae5
func Shaktool_DAE5 dae5 end:db0e
func Shaktool_DB0E db0e end:db27
func Shaktool_DB27 db27 end:db40
func Shaktool_DB40 db40 end:db59
func Shaktool_DB59 db59 end:dc07
func Shaktool_DC07 dc07 end:dc2a
func Shaktool_DC2A dc2a end:dc6f
func Shaktool_DC6F dc6f end:dca3
func Shaktool_Hurt dca3 end:dcac
func Shaktool_DCAC dcac end:dcd7
func Shaktool_DCD7 dcd7 end:dd25
func Shaktool_DD25 dd25 end:de43
func Shaktool_Init de43 end:df2f
func Shaktool_Touch df2f end:df34
func Shaktool_Shot df34 end:e429
func Shaktool_Instr_9 e429 end:e436
func Shaktool_Instr_11 e436 end:e43d
func Shaktool_Instr_10 e43d end:e445
func sub_AAE445 e445 end:e57f
func Shaktool_Instr_8 e57f end:e587
func Shaktool_Instr_13 e587 end:e58f
func Shaktool_Instr_12 e58f end:e5d8
func Shaktool_Instr_7 e5d8 end:e6f0
func Shaktool_Instr_14 e6f0 end:e716
func N00bTubeCracks_Init e716 end:e725
func ChozoStatue_Init e725 end:e784
func sub_AAE784 e784 end:e7a7
func ChozoStatue_Main e7a7 end:e7ae
func Shaktool_PreInstr_0 e7ae end:10000
# <<< END AUTO-INGESTED <<<
